.main {
  background-color: #f4e6d9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  height:100%;
  font-family: 'comfortaa';
}

.main2 {
  background-color: #f4e6d9;;
  height:100vh;
  font-family: 'comfortaa';

}

.comment_page{
  background-color: #f4e6d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'comfortaa';

}

.h_cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.h_cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}


@font-face {
  font-family: 'Comfortaa';
  src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
}

@font-face {
  font-family: 'Astheresia';
  src: url('https://fonts.googleapis.com/css2?family=Astheresia&display=swap');
}

@font-face {
  font-family: 'Voyage-Bold';
  src: url('https://fonts.googleapis.com/css2?family=Voyage-Bold&display=swap');
}

.post_cnt {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.h1{
  font-family: 'Voyage-Bold';
  font-size: 60px;
  text-align: center;
  margin-bottom: -20px;
  
}

.main > h1:first-child {
  margin-right: 300px;
}

.h1_right {
  margin-left: 300px;
  font-family: 'Voyage-Bold';
  font-size: 55px;
  margin-bottom: 150px;
}


.title_cnt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 2;
}


.post_title {
  font-family: 'Comfortaa';
  font-size: 28px;
  padding: 20px;
  border-radius: 15px;
  width: auto;
  text-align: center;
  color: white;
  background-color: #b56046;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.5);
}

.post_title::after {
  content: '';
  position: absolute;
  bottom: 25px;
  left: 10%;
  width: 80%;
  border-bottom: 10px solid rgba(229, 211, 200, 0.9);
  z-index: -1;
  text-align: center;
  border-radius:5px;
}

.p_cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}



.p {
  font-size: 18px;
  text-align: center;
}

.post {
  position: relative;
  background: #faf4ef;
  width: 500px;
  height: 250px;
  border-radius: 0px 50px 50px 50px;
  margin: 100px;
  box-shadow: 18px 18px 0px 0px #b56046;
  padding: 20px;
}

.input {
  position: relative;
  right: -32px;
  width: 250px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid #b56046;
  margin-bottom: 20px;
}

.input_cnt {
  display: flex;

  justify-content: space-between;
  align-items: center;

}

.input_cnt form {
  display: inline-block;
  justify-content: center;
  align-items: center;
  
}

.input_cnt span {
  font-weight: bold;
  margin-right: 20px;
}

.input_cnt .input,
.input_cnt .input2 {
  margin-bottom: 20px;
}


.input2 {
  width: 350px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #b56046;
  border-radius: 10px;
 
}

.post_bnt {
 background-color: #f8e56c;
  right: 20px;
  width: 80px;
  height:80px;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.5);
  color: #b56046;
  border: #b56046;
}

.bnt_cnt {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content_box {
  display:inline-block;
}

.delete_bnt {
  position: relative;
  left: 420px;
  bottom:236px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f8e56c;
  color: #b56046;
  font-size:12px;
  font-family: 'Comfortaa';
  border: 2px solid #b56046;
 
}

.post_title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  color: #3f2118;
}

.post_p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b56046;
}

.comment_h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.comment_cnt {
background-color: #b56046;
padding: 20px;
height: auto;
width: auto;
border-radius: 205px;
font-size: 18px;
color: white;
margin-top: 20px;
box-shadow: 8px 8px 0px 0px rgb(255, 255, 255);

}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b56046;
  padding: 20px;
  height: auto;
  width: auto;
  border-radius: 205px;
  font-size: 18px;
  color: white;
  margin-top: 20px;
  box-shadow: 8px 8px 0px 0px rgb(255, 255, 255);
  margin-bottom: 20px;
}



.comment_input{
  position: relative;
  width:350px;
  height: 80px;
  border-radius: 15px;
  border: 2px solid #b56046;

}

.submit_bnt {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f8e56c;
  color: #b56046;
  margin-left: 10px;
  margin-top: 30px;
  border: 3px solid #b56046;
}

.comment_del_bnt {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #b56046;
  color: #b56046;
  background-color: #f8e56c;
  font-size:12px;
  font-family: 'Comfortaa';
  margin-left: 20px;
  border: #fff 2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items:right;
  padding:10px;
  background: #b56046;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
}


.alert_message {
  margin-top: 100px;
  font-size: 30px;
  color: #3f2118;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin_bnt {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f8e56c;
  color: #b56046;
  margin-left: 10px;
  margin-top: 30px;
  border: 3px solid #b56046;
  position: relative;
}

.h_title {
  font-size: 50px;
  font-family: 'Voyage-Bold';
  position: relative;
}










/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
